#nav-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 30;
}

#nav-title > div{
  overflow: hidden;
  position: relative;
  padding-bottom: 1rem;
}

#nav-title > div:after{
  content: '';
  background-color: black;
  position: absolute;
  left:0; 
  bottom: 0;
  height: 5px;
  width: 100%;
  border-radius: 2px;
  transition: all .8s;
  transform: translateX(-100%);
  /* transform-origin: 100% 50% 0%; */
  /* transition-timing-function: cubic-bezier(.8,.05,.44,.48) */
}

#nav-title:hover > div::after{
  transform: translateX(0%);
}

#nav-title:hover > div:nth-child(2):after{
  transition-delay: 200ms;
}

#nav-title:hover > div:nth-child(3):after{
  transition-delay: 300ms;
}

#menu-button{
  overflow: hidden;
  padding: .25rem;
}

#menu-button::before{
  position: absolute;
  left:0;
  bottom: 0;
  content: "";
  background-color: black;
  height: 2px;
  width: 100%;
  transform: translateX(-200%);
  transition: all .6s;
}

#menu-button::after{
  position: absolute;
  left:0;
  bottom: 0;
  content: "";
  background-color: black;
  height: 2px;
  width: 100%;
  transition: all .6s; 
}

#menu-button:hover::after{
  transform: translateX(150%);
}

#menu-button:hover::before{
  transform: translateX(0%);
}

.layers {
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  z-index: 1000;
  pointer-events: none;
}

.layers__item {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translate3d(0, 101%, 0);
}

.layers__item-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  transform: translate3d(0, -101%, 0);
}


.grid {
  grid-area: 1 / 1 / 2 / 2;
  /* width: 100%;
  height: 93%; */
  display: grid;
  grid-template-columns: repeat(13,1fr);
  grid-template-rows: repeat(8,1fr);
  grid-gap: 1vw;
  position: absolute;
  z-index: 50;
}


.grid::after {
	content: '';
	height: 6rem;
	width: 1px;
	background: #fff;
	position: absolute;
	bottom: 2rem;
	left: 50%;
}

.intro .grid::after {
	display: none;
}

.grid__item {
    background-size: cover;
	background-position: center;
    opacity: 0;
    -webkit-filter: brightness(0.7);
    filter: brightness(0.7);
}

.grid__item--a {
    grid-area: 3 / 2 / 5 / 3;
}

.grid__item--b {
    grid-area: 6 / 4 / 8 / 5;
}

.grid__item--c {
    grid-area: 2 / 5 / 4 / 6;
}

.grid__item--d {
    grid-area: 2 / 9 / 4 / 10;
}

.grid__item--e {
    grid-area: 3 / 11 / 5 / 12;
}

.grid__item--f {
    grid-area: 6 / 12 / 8 / 13;
}
