@tailwind base;
@tailwind components;
@tailwind utilities;

.show {
     transform: translateY(0%);
   }
   
.word {
transform: translateY(100%);
transition: all 1s;
transition-timing-function: ease;
font-kerning: none;
will-change: transform;
}
   
.line {
     margin: 0;
     left:0;
     position: relative;
     overflow : hidden;
     font-kerning: none;
}

#heading:after {
     content: "";
     position:absolute;
     background-color: white;
     height: 1px;
     width: 200%;
     left:0;
     bottom: 0;
}

#nav:after {
     position: absolute;
     content: "";
     background-color: white;
     height: 1px;
     width: 0;
     left:0;
     bottom: 0;
     transition: 0.3s;
}

#nav:hover::after{
     width: 100%;
}

#menu:after {
     position: absolute;
     content: "";
     background-color: white;
     height: 1px;
     width: 0;
     left:0;
     bottom: 0;
     transition: 0.3s;
}

#menu:hover::after{
     width: 100%;
}

#nav-button {
     transition: transform, background-color;
     transition-timing-function: ease;
     transition-duration: 400ms;
}

#menubar {
     transition: all;
     transition-timing-function: ease;
     transition-duration: 500ms;
}

#service-card{
     color:red;
     transition: all;
     transition-timing-function: ease;
     transition-duration: 300ms;
}