@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
     user-select: none;
}

*::selection{
     background-color: white;
     color:black;
}

html, body {
     margin: 0;
     padding: 0;
     width: 100%;
     height: 100%;
     overflow-x: hidden;
}

.lines, .word, .char {
     margin:0;
     padding:0;
     box-sizing: border-box;
}


::-webkit-scrollbar{
     display: none;
}

.inter {
     font-family: 'Inter', sans-serif;
}

.ease-in-back {
     transition-timing-function:cubic-bezier(.72,.11,0,.99)
}
   
   
/* transition-timing-function: cubic-bezier(1,-0.01,.63,.72); */
/* transition-timing-function: cubic-bezier(1,-0.03,.59,.79) */
   